openpyxl==3.1.5
opencv-contrib-python-headless==4.10.0.84
Flask==3.0.2
numpy==1.25.2
pandas==2.2.1
pdf2image==1.17.0
img2table==1.3.0 --constraint constraints.txt
img2table[paddle] --constraint constraints.txt
paddlepaddle==2.6.2 --constraint constraints.txt
paddleocr==2.8.1 --constraint constraints.txt
gunicorn==21.2.0

