openpyxl==3.1.5
opencv-contrib-python-headless==4.10.0.84
Flask==3.0.2
numpy==1.25.2
pandas==2.2.1
pdf2image==1.17.0
img2table==1.3.0 --no-deps
img2table[paddle] ---no-deps
paddlepaddle==2.6.2 --no-deps
paddleocr==2.8.1 --no-deps
gunicorn==21.2.0

